h1
{
    letter-spacing: 3px;
    font-size: 80px;
    color: whitesmoke;
    text-align: center;
}

p
{
    letter-spacing: 1px;
    font-size:30px;
    color:white;
    text-align: center;
}

html
{
    background-color: deepskyblue;
}

form
{
    text-align:center;
}

h2
{
    float: left;
}
th, td
{
    border: 10px solid black;
}
#cabecera
{
    border-color : black;
    border: 30px;
}

#indiceValores
{
    float:right;
}

#cosas
{
    float:right;
}

#ingreso
{
    color:white;
    text-align:center;
}