h1
{
    letter-spacing: 3px;
    font-size: 80px;
    color: white;
    text-align: center;
}

a
{
    color:black;
    text-decoration: none;

}

p
{
    letter-spacing: 1px;
    font-size:30px;
    color:white;
    text-align: center;
}

html
{
    background-color: deepskyblue;
}

form
{
    text-align:center;
}

input, select
{
    border-radius: 15px;
    background-color: white;
}

th, td
{
    background-color: white;
    border: 1px solid grey;
    border-radius: 15px;
}

#Paginas button
{
    margin-top:5%;
    margin-left:23%;
    border:none;
    font-size: 30px;
    background-color: white;
    letter-spacing: 10px;
    border-radius: 50px;
    padding: 30px 30px;
}